<div class="card card-bordered card-board-climb activity-card">
  <div class="flex-between">
    <div>
      <div class="activity-header">
        <%= render Badge.new(:gray) { system_board_climb.board.titleize } %>
        <% if system_board_climb.is_send? %>
          <%= render Badge.new(:green) { "Sent" } %>
        <% else %>
          <%= render Badge.new(:yellow) { "Attempt" } %>
        <% end %>
        <span class="activity-title"><%= system_board_climb.climb_name %></span>
        <% if system_board_climb.displayed_grade.present? %>
          <span class="text-sm text-gray font-medium"><%= system_board_climb.displayed_grade %></span>
        <% end %>
      </div>

      <div class="activity-meta">
        <% if system_board_climb.setter_username.present? %>
          <span>by <%= system_board_climb.setter_username %></span>
          <span> &bull; </span>
        <% end %>
        <% if system_board_climb.angle.present? %>
          <span><%= system_board_climb.angle %>&deg;</span>
          <span> &bull; </span>
        <% end %>
        <% if system_board_climb.attempts.present? && system_board_climb.attempts > 0 %>
          <span>
            <% if system_board_climb.is_send? && system_board_climb.attempts == 1 %>
              Flashed
            <% elsif system_board_climb.is_send? %>
              Sent in <%= system_board_climb.attempts %> tries
            <% else %>
              <%= system_board_climb.attempts %> <%= "try".pluralize(system_board_climb.attempts) %>
            <% end %>
          </span>
          <span> &bull; </span>
        <% end %>
        <span><%= smart_date(activity_log.performed_at) %></span>
      </div>

      <% if system_board_climb.comment.present? %>
        <div class="activity-notes">
          <%= simple_format(system_board_climb.comment) %>
        </div>
      <% end %>
    </div>
  </div>
</div>
